.about-page,
.about-page * {
  box-sizing: border-box;
}
.about-page {
  background: #7d3434;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 46px;
  top: 46px;
  width: 231px;
  height: 78px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 890px;
  top: 49px;
  width: 429px;
  height: 75px;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 1101px;
  top: 49px;
  width: 259px;
  height: 92px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 1232px;
  top: 49px;
  width: 394px;
  height: 96px;
}
.bmgt-407-information-systems-projects {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 54px;
  font-weight: 700;
  position: absolute;
  left: 46px;
  top: 275px;
  width: 1400px;
  height: 100px;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-where-students-apply-their-knowledge-to-develop-real-world-is-solutions-for-business-clients-through-a-complete-is-development-process-students-design-and-implement-functional-prototypes-that-solve-practical-business-challenges-preparing-them-for-careers-in-technology-and-consulting {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 46px;
  top: 402px;
  width: 1400px;
  height: 150px;
}
.semester-details-spring-2025 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 25px;
  top: 552px;
  width: 400px;
  height: 56px;
}
.professor-details-paul-t-shapiro {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 638px;
  width: 400px;
  height: 51px;
}
.teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devara {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: -47px;
  top: 719px;
  width: 1000px;
  height: 67px;
}
