.contact-page,
.contact-page * {
  box-sizing: border-box;
}
.contact-page {
  background: #7d3434;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 46px;
  top: 46px;
  width: 231px;
  height: 78px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 890px;
  top: 49px;
  width: 429px;
  height: 75px;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 1101px;
  top: 49px;
  width: 259px;
  height: 92px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 1232px;
  top: 49px;
  width: 394px;
  height: 96px;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 54px;
  font-weight: 700;
  position: absolute;
  left: 46px;
  top: 275px;
  width: 1400px;
  height: 100px;
}
.reach-out-to-the-team-for-support-or-inquiries {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 46px;
  top: 402px;
  width: 586px;
  height: 42px;
}
.professor-contact-paul-t-shapiro-pshapiro-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 46px;
  top: 444px;
  width: 508px;
  height: 68px;
}
.ta-contact-bharath-sreekumar-bsreekum-umd-edu-caifu-lin-clin-0817-terpmail-umd-edu-sumanth-devara-sdevara-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 46px;
  top: 539px;
  width: 535px;
  height: 140px;
}
