.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #7d3434;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 46px;
  top: 46px;
  width: 231px;
  height: 78px;
}
.menu-items {
  width: 740px;
  height: 96px;
  position: absolute;
  left: 850px;
  top: 46px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 429px;
  height: 75px;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 215px;
  top: 0px;
  width: 259px;
  height: 92px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 346px;
  top: 0px;
  width: 394px;
  height: 96px;
}
.let-s-create-a-website-design {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  left: 156px;
  top: 334px;
  width: 1127px;
  height: 100px;
}
.today-let-s-create-a-sample-website-design-in-figma-and-export-its-corresponding-html-and-css-code {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 220px;
  top: 462px;
  width: 1000px;
  height: 150px;
}
.rectangle-1 {
  background: #a8ff35;
  border-radius: 10px;
  width: 180px;
  height: 57px;
  position: absolute;
  left: 630px;
  top: 616px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.get-started {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 651px;
  top: 630px;
}
